<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="/layout/footer :: headerfiles">

</head>
<body>
<div th:replace="/layout/footer :: top"></div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Province</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="customer : ${customers}">
                            <tr>
                                <td th:text="${customer.firstName}"></td>
                                <td th:text="${customer.lastName}"></td>
                                <td th:text="${customer.province.name}"></td>
                                <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
                                <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
                                <td><a th:href="@{/view-province/__${customer.province.id}__ }">view</a></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
    </div>
<div th:replace="/layout/footer :: footer"></div>
    <div th:replace="/layout/footer :: jsfiles"></div>

</body>
</html>